<form [formGroup]="nestedProfileForm" (ngSubmit)="onSubmit()">

  <mat-form-field class="elwood-form-field" appearance="fill">
    <mat-label>First Name</mat-label>
    <input id="first-name" type="text" formControlName="firstName" matInput placeholder="Ex. John" required>
  </mat-form-field>

  <mat-form-field class="elwood-form-field" appearance="fill">
    <mat-label>Last Name</mat-label>
    <input id="last-name" type="text" formControlName="lastName" matInput placeholder="Ex. Doe" required>
  </mat-form-field>

  <!-- NESTED: Address -->
  <div formGroupName="address">
    <h4 class="elwood-h4">Address</h4>

    <mat-form-field class="elwood-form-field" appearance="fill">
      <mat-label>Street</mat-label>
      <input id="street" type="text" formControlName="street" matInput placeholder="Ex. John" required>
    </mat-form-field>

    <!-- 3 COLUMNS -->
    <div fxLayout="row">

      <mat-form-field class="elwood-form-field" appearance="fill">
        <mat-label>City</mat-label>
        <input id="city" type="text" formControlName="city" matInput placeholder="Ex. Somewhere Far Away" required>
      </mat-form-field>

      <mat-form-field class="elwood-form-field" appearance="fill">
        <mat-label>State</mat-label>
        <input id="state" type="text" formControlName="state" matInput placeholder="Ex. Texas" required>
      </mat-form-field>

      <mat-form-field class="elwood-form-field" appearance="fill">
        <mat-label>Zip Code</mat-label>
        <input id="zip" type="text" formControlName="zip" matInput placeholder="Ex. 00000" required>
      </mat-form-field>

    </div>

  </div>
  <!-- [end] nested.address -->

  <p>Complete the form to enable button.</p>
  <button mat-stroked-button type="submit" [disabled]="!nestedProfileForm.valid" class="elwood-form-field">Submit</button>

</form>