<div fxLayout="row" fxLayoutGap="15px">


  <div id="left-column-demo" fxFlex="50%">

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

      <mat-form-field class="elwood-form-field" appearance="fill">
        <mat-label>First Name</mat-label>
        <input id="first-name" type="text" formControlName="firstName" matInput placeholder="Ex. John" required>
      </mat-form-field>

      <mat-form-field class="elwood-form-field" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input id="last-name" type="text" formControlName="lastName" matInput placeholder="Ex. Doe" required>
      </mat-form-field>

      <p>Complete the form to enable button.</p>
      <button mat-stroked-button type="submit" [disabled]="!profileForm.valid" class="elwood-form-field">Submit</button>
    </form>

  </div>
  <div fxFlex="50%" fxLayout="column" fxLayoutGap="15px">

    <!-- 

    -->
    <div>
      <h3 class="elwood-h3">Form Group <small>????</small></h3>
    </div>

    <div>
      <h3 class="elwood-h3">Form Array <small>????</small></h3>
    </div>

  </div>
</div>