/*
TEXT 
--------------------------------------- */
.elwood-h2,
.elwood-h3,
.elwood-h4 {
  color: rgb(98, 44, 122);
  font-weight: 100;
}
.elwood-h2 small,
.elwood-h3 small,
.elwood-h4 small {
  color: #9b9b9b;
  display: block;
  font-size: 14px;
}
.elwood-value-display {
  background-color: rgb(0 190 255 / 25%);
  font-family: 'Lekton', sans-serif;
  padding: 15px;
}
.elwood-value-display::before {
  content: 'Value | JSON';
  display: block;
  font-family: sans-serif;
  background-color: rgba(0, 255, 255, 0.233);
  margin: 0 0 15px;
  padding: 0 0 5px;
  border-bottom: 1px solid #ccc;
}

/*
FOOTER 
--------------------------------------- */
.elwood-footer {
  border-top: 1px solid #ccc;
  color: rgb(0 0 0 / 50%);
  font-size: 11px;
  padding-top: 15px;
  margin-top: 100px;
}

.elwood-section {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 30px 15px;
}
.elwood-section label {
  color: rgb(42, 21, 61);
  display: block;
  font-weight: 700;
}

/*
FORMS 
--------------------------------------- */
.elwood-form-field {
  width: 100%;
}

/*
TABS
--------------------------------------- */
.elwood-tab-group {
  background-color: transparent; /* rgba(0, 255, 255, 0.25) */
}
.mat-tab-header {
  background-color: transparent; /* rgba(0, 255, 255, 0.25) */
}
.mat-tab-body-wrapper {
  background-color: transparent; /* rgba(0, 255, 255, 0.25) */
  padding: 15px 40px;
}

/*
PROFILE COMPONENT
--------------------------------------- */
.elwood-header {
  background-color: rgb(0, 162, 255);
  color: #fff;
  padding: 30px 15px;
  text-align: center;
}
.elwood-profile-name {
  font-weight: 100;
  margin: 0;
  padding: 0;
}
.elwood-profile-quote {
  font-size: 14px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}
.elwood-profile-img {
  background-color: aqua;
  border-radius: 100px;
  width: 175px;
  overflow: hidden;
  text-align: center;
  height: 175px;
  margin: 0 auto 15px;
  border: 1px solid #ffffff;
}
.elwood-profile-img img {
  height: 200px;
  display: block;
  margin-left: -100px;
}

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
